@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2"),
    url("../fonts/#{$file_name}.ttf") format("truetype");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "_fonts.scss";
@import "_null.scss";

.map {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}
.path {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.des {
  &__germany_europe, &__west-usa_oceania, &__germany_north-america, &__germany_asia,
  &__germany_oceania, &__germany_south-america, &__west-usa_asia, &__west-usa_europe,
  &__west-usa_north-america, &__west-usa_south-america, &__east-usa_oceania, &__east-usa_asia,
  &__east-usa_europe, &__east-usa_north-america, &__east-usa_south-america, &__singapore_oceania,
  &__singapore_asia, &__singapore_europe, &__singapore_north-america, &__singapore_south-america {
    position: absolute;
    width: 14%;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.7vw;
    font-family: "Montserrat-regular";
    text-align: center;
    padding: 0.1%;
    background-color: cornflowerblue;
  }
  &__germany_europe {
    top: 49%;
    left: 45%;
  }
  &__west-usa_oceania {
    top: 81%;
    left: 59%;
  }
  &__germany_north-america {
    top: 18%;
    left: 19%;
  }
  &__germany_asia {
    top: 23%;
    left: 62%;
  }
  &__germany_oceania {
    top: 60%;
    left: 84%;
  }
  &__germany_south-america {
    top: 65%;
    left: 36%;
  }
  &__west-usa_asia {
    top: 47%;
    left: 59%;
  }
  &__west-usa_europe {
    top: 34%;
    left: 43%;
  }
  &__west-usa_north-america {
    top: 25%;
    left: 8%;
  }
  &__west-usa_south-america {
    top: 75%;
    left: 12%;
  }
  &__east-usa_oceania {
    top: 80%;
    left: 61%;
  }
  &__east-usa_asia {
    top: 45%;
    left: 58%;
  }
  &__east-usa_europe {
    top: 25%;
    left: 43%;
  }
  &__east-usa_north-america {
    top: 25%;
    left: 18%;
  }
  &__east-usa_south-america {
    top: 73%;
    left: 17%;
  }
  &__singapore_oceania {
    top: 70%;
    left: 80%;
  }
  &__singapore_asia {
    top: 47%;
    left: 65%;
  }
  &__singapore_europe {
    top: 32%;
    left: 44%;
  }
  &__singapore_north-america {
    top: 32%;
    left: 18%;
  }
  &__singapore_south-america {
    top: 73%;
    left: 17%;
  }  
}
.text {
  &__users, &__storage, &__byteCloud, &__startAgain {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 7px 2px;
    font-size: 1.65vw;
    color: inherit;
    z-index: 1;
    .next {
      display: none;
      margin: 0 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .restart {
      display: block;
      margin: 0 5px;
      &:hover {
          cursor: pointer;
        }
    }
    .next, .restart {
      color: rgb(0, 0, 255);
    }
    .start {
      display: none;
      margin: 0 5px;
      color: rgba(0, 0, 255, 0.37);
    }  
  }
  &__storage, &__byteCloud, &__startAgain {
    display: none;
  }
}
.north-america {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 32%;
  left: 12%;
  z-index: 2;
  .gajets .gajets__medium {
    align-self: flex-end;
    margin-bottom: 5%;
  }
  .gajets .gajets__large {
    margin-right: 5%;
    margin-top: 10%;
  }
  .gajets .gajets__small {
    margin: 5% 5% 0 5%;
  }
}
.south-america {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 64%;
  left: 23%;
  z-index: 2;
  .gajets {
    justify-content: flex-start;
    margin-left: 24%;
  }
  .gajets .gajets__large {
    align-self: flex-start;
    margin-top: 5%;
  }
  .gajets .gajets__medium {
    align-self: flex-end;
  }
  .gajets .gajets__small {
    margin-bottom: 5%;
  }
}
.europe {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 29%;
  left: 42%;
  z-index: 5;
  .gajets {
    justify-content: space-between;
  }
  .gajets .gajets__large {
    margin-bottom: 10%;
    margin-right: 5%;
  }
  .gajets .gajets__medium {
    align-self: flex-end;
    margin-left: 15%;
  }
  .gajets .gajets__small {
    margin-top: 15%;
    margin-left: 5%;
  }
}
.asia {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 41%;
  left: 64%;
  z-index: 2;
  .gajets {
    justify-content: space-between;
  }
  .gajets .gajets__large {
    align-self: flex-start;
    margin-right: 5%;
  }
  .gajets .gajets__medium {
    margin-top: 30%;
    margin-left: 15%;
  }
  .gajets .gajets__small {
    margin-top: 15%;
    margin-left: 25%;
  }
}
.oceania {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 67.5%;
  left: 73.3%;
  z-index: 2;
  .gajets {
    margin-top: 10%;
  }
  .gajets .gajets__large {
    margin: 0 5%;
  }
}
.mans {
  width: 50%;
  height: 50%;
  padding-top: 12.5%;
  display: flex;//Управление
  flex-direction: row-reverse;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
  &__small, &__medium, &__large {
    background: url("../img/man_empty.png") center/contain no-repeat;
    &:hover {
      background: url("../img/man_filled.png") center/contain no-repeat;
    }
  }
  &__small {
    width: 16%;
    height: 40%;
  }
  &__medium {
    width: 19%;
    height: 67%;
    &:hover ~ .mans__small {
      background: url("../img/man_filled.png") center/contain no-repeat;
    }
  }
  &__large {
    width: 28%;
    height: 100%;
    &:hover ~ .mans__small, &:hover ~ .mans__medium {
      background: url("../img/man_filled.png") center/contain no-repeat;
    }
  }
}
.gajets {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  &__small, &__medium, &__large {
    width: 15%;
    height: 30%;
    .mask {
      .back {
        width: 0%;
        height: 100%;
        background: blue;
        //transition: 1s all ease-in;
      }
    }
  }
  &__small {
    position: relative;
    opacity: 0;//Управление
    background: url("../img/small.png") center/contain no-repeat;
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      mask-image: url("../img/small_mask.png");
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }
  &__medium {
    position: relative;
    opacity: 0; //Управление
    background: url("../img/medium.png") center/contain no-repeat;
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      mask-image: url("../img/medium_mask.png");
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }
  &__large {
    position: relative;
    opacity: 0; //Управление
    background: url("../img/large.png") center/contain no-repeat;
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      mask-image: url("../img/large_mask.png");
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }
}
.east-usa, .west-usa, .germany, .singapore {
  position: absolute;
  width: 5%;
  height: 7%;
  .circle {
    display: block;//Управление
    display: none;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    background: url("../img/circle_empty.png") center/contain no-repeat;
    &:hover {
      background: url("../img/circle_filled.png") center/contain no-repeat;
    }
  }
}
.east-usa, .west-usa, .singapore, .germany {
  .server {
    display: block;//Управление
    display: none;
    width: 100%;
    height: 100%;
  }
}
.east-usa {
  top: 42%;
  left: 27%;
}
.west-usa {
  top: 44%;
  left: 12%;
}
.germany {
  top: 38%;
  left: 47.4%;
  z-index: 1;
}
.singapore {
  top: 67%;
  left: 74%;
}
.modal {
  position: absolute;
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  filter: "none";
  top: 10%;
  width: 64%;
  left: 16%;
  z-index: 10;
  .table {
    display: flex;
    flex-direction: column;
    width: 48.5%;
    &__name {
      text-align: center;
      font-size: 1.9vw;
      font-weight: 700;
      margin: 2% 0;
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid #030100;
      background-color: #bee9ba;
      margin: 2% 0;
      .header, .data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #030100;
        font-size: 1.1vw;
        &__title {
          width: 52%;
          text-align: center;
          font-size: 1.2vw;
          font-weight: 700;
          margin: 1% 0;
        }
        .latency, .download, .video {
          text-align: center;
          line-height: 1.4;
          padding: 1% 1%;
        }
        .latency {
          width: 19%;
          border-right: 1px solid #030100;
        }
        .download {
          width: 31%;
          border-right: 1px solid #030100;
        }
        .video {
          width: 50%;
        }
        .rating {
          display: flex;
          flex-direction: row-reverse;
          .star {
            &::before {
              content: "\e9d7";
              font-size: 1.3vw;
              font-family: "icomoon";
              font-weight: 500;
            }
            &_active {
              &::before {
                content: "\e9d9";
                font-size: 1.3vw;
                font-family: "icomoon";
                color: #ffa003;
                font-weight: 500;
              }
            }
          }
        }
      }
      
    }
  }
}